.homePageContainer{
    margin: 0;
    background-color: #61bab7;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.usersOnlineContainer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    height: 90%;
    width: 20%;
    margin: 5px;
    overflow: overlay;
}

.usersOnlineContainer p{
    color: green;
}

.title{
    width: 100%;
    border-bottom: 2px solid black;
}