.homePageContainer{
    margin: 0;
    background-color: #61bab7;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.usersOnlineContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}